body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(70, 184, 184, 0.74);
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 20%;
    margin-left: 5px;
   
    
}
header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border: 0px;
    border-radius: 25px;
    position: sticky;
    top: 0px;
    background-color: rgba(203, 210, 216, 0.76) ;
}
.liste{
    list-style: none;
    display: flex;
    padding: 10px;
}
.liste li{
    padding: 10px;
}
.liste a{
    text-decoration: none;
}
.liste a:hover{
    text-decoration: underline ;
    color: red;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec{
    display: flex;
    margin: 0 80px;

}
.btn{
    border: 1px solid black ;
    border-radius: 7px;
    background-color: beige;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.btn:hover{
    background-color: rgb(69, 133, 206);
    color: blanchedalmond;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.vid{
    height: 500px;
    width: 800px;
    margin-left: 50px;
}
.sec h1{

}
footer{
    text-align: center;
    padding: 30px 60px;
    border: 0px;
    border-radius: 50px;
    background-color: rgba(106, 157, 202, 0.822) ;
    font-size: xx-large;
    
}
footer a:hover{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
} 
.photo{
    height: 300px;
    width: 300px;
}

.divfoto{
    margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
}
.row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dive1, .dive2{
    flex: 1;
    text-align: center;
}
.learn:hover{
    color: rgba(255, 153, 0, 0.836);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.learn{
    font-size: larger;
    text-decoration: none;
}
.para{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: darkblue;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body2{
    text-align: center;
}
.h11{
    color: rgba(27, 5, 43, 0.822);
}
.h11:hover{
    color: blanchedalmond;
    font-size: xx-large;
}
#bt1 , #bt2{
    font-size: large;
}
#bt1:hover{
    background-color: darkred ;
    font-size: x-large;

}
#bt2:hover{
    background-color: green;
    font-size: x-large;

}
.lab{
    font-size: larger;
}
.lab:hover{
    color: blanchedalmond;
    font-size: x-large;
}
form{
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px;
    padding-bottom: 30px;
}
fieldset{
    border-color: rgba(118, 130, 141, 0.445);
}
.fin{
    color: rgb(0, 0, 85);
    font-size: x-large;
}
.txt{
    color: blue;
    font-size: large;
}
.psd{
    color: brown;
    font-size: large;
}